/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.bgShape1 {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
}

.bgShape2 {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
}

.bgShape3 {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 0;
}
