/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.bgShape1 {
    @apply hidden md:inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
}

.bgShape2 {
    @apply hidden md:inline-block;
    position: absolute;
    top: 60%;
    right: 6%;
    z-index: 0;
}

.bgShape3 {
    @apply hidden md:inline-block;
    position: absolute;
    top: 10%;
    right: 2%;
    z-index: 0;
}
